/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.container {
  margin: 0;
}
.container .header-content {
  padding: 5rem;
}
.container .header-content,
.container .footer-content {
  background-color: #caebf2;
  padding: 5rem;
}
.container .header-content nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.container .header-content nav img {
  border-radius: 8rem;
}
.container .main-content {
  background-color: #efefef;
  padding: 5rem;
}
.container .main-content h1,
.container .main-content h2,
.container .main-content h3 {
  color: #a9a9a9;
}
.container .main-content address {
  font-size: 2rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #a9a9a9;
}
.container .main-content p {
  color: #a9a9a9;
}
.container .main-content {
  display: flex;
}
.container .main-content .left {
  width: 70%;
  padding: 5rem;
}
.container .main-content .left h1 {
  margin: 0 0 2rem;
  font-family: 'Anton', sans-serif;
  font-size: 4rem;
}
.container .main-content .left h2 {
  margin: 0 0 1rem;
}
.container .main-content .left h3 {
  margin: 0 0 0.6rem;
}
.container .main-content h2 {
  font-size: 3.5rem;
  font-family: 'Anton', sans-serif;
}
.container .main-content h3 {
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
}
.container .main-content .right {
  width: 25%;
  padding: 5rem;
}
.container .main-content .right h2 {
  margin: 0 0 2rem;
}
.container .main-content .right address {
  padding: 1rem 0 0;
}
.container .main-content .right address a {
  color: #a9a9a9;
}
.container nav a {
  margin: 0 0.5rem;
  padding: 0.5rem;
  color: #efefef;
  border: 1px solid #a9a9a9;
  background: #ff3b3f;
  text-decoration: none;
}
.container p,
.container a {
  font-size: 2.7rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.container .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .footer-content p {
  color: #a9a9a9;
}
.container .footer-content a {
  color: #a9a9a9;
  text-decoration: none;
}
@media (max-width: 500px) {
  .header-content nav img {
    display: none;
  }
  .header-content nav {
    display: flex;
    flex-wrap: wrap;
  }
  nav a {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    color: #efefef;
    border: 2px solid #a9a9a9;
    background: #ff3b3f;
    text-decoration: none;
  }
  .header-content,
  .footer-content {
    padding: 3rem;
  }
  .main-content {
    padding: 3rem;
  }
  .header-content nav a {
    margin: 1rem 1.5rem;
  }
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
    padding: 3rem;
  }
  .left h2 {
    display: none;
  }
  .left h3 {
    margin: 2rem 0 2rem;
  }
}
